.wrapper {
  display: flex;
  flex-direction: column; //chuyen sang cot de nam ben duoi va dieu chinh vao giua
  align-items: center;
}
.container {
  width: 100;
  max-width: 100%;
  padding: 0 10;

  display: flex; //vi container chua sidebar va lam ngang sidebar va content
  margin-top: 10;
}

.content {
  flex: 1; //de chiem het khoang khong con lai
}
