.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.content {
  flex: 1;
}
