# Environment variables
.env
.env.*
/backend/.env
/backend/.env.*
/frontend/.env
/frontend/.env.*
/frontend/.env.local
.env.local

# Uploads
/backend/uploads/*
/backend/!uploads/.gitkeep
/backend/!uploads/products/
/backend/uploads/products/*
/backend/!uploads/products/.gitkeep
