.wrapper {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100vw;
  left: 0;
  display: flex;
  align-items: flex-start; // Đổi từ center sang flex-start
  border-bottom: 1px solid #6b7280;
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-link {
  color: #eeeeee;
  text-decoration: none;
  padding: 8px 12px 8px 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    color: #dc2626;
  }

  &.active {
    color: #dc2626;
    border-bottom-color: #dc2626;
  }
}
.categories {
  padding: 8px 110px 8px 0;
  background-color: #c1032f;
}
.nav-menu {
  padding: 0 110px;

  background-color: #303030;

  display: flex;
  align-items: center;
  gap: 16px;
}

.breadcrumb {
  padding: 0 110px;

  font-size: 0.8rem;
  color: #6b7280;
  .current {
    color: #dc2626;
    font-weight: 500;
  }
}
