.wrapper {
  display: flex;
  min-height: 100vh;
}

.container-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  width: 100%;
}

.container-right {
  flex: 1;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.run-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
