.nav-link {
  text-decoration: none;
  cursor: pointer;
}
.logo {
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.logo-w {
  font-size: 30px;
  font-weight: bold;
  color: #dc2626;
  font-family: 'Akira', sans-serif;
}

.logo-s {
  font-family: 'Akira', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #374151;
}
