:root {
  //dung khi bi lap lai code qua nhieu (hard code nen set cung' bang bien)
  --primary-color: #dc2626;
  --primary-hover: #b91c1c;
  --secondary-color: #6b7280;
  --text-color: #374151;
  --text-light: #a6aab0;
  --bg-light: #f9fafb;
  --white: #ffffff;
  --black: #000000;
  --border-color: #e5e7eb;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//embed
@font-face {
  font-family: 'Akira';
  src: url('../../assets/fonts/Akira Expanded Demo.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lemans';
  src: url('../../assets/fonts/LE MANS CLASSIC Regular by Kazer Studio.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}
