.tippy-box {
  z-index: 9999 !important;
}
.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 180px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  background: #fff;
  transition: background 0.2s;
  border: none;
  cursor: pointer;
  text-align: left;
}

.dropdown-item:hover {
  background: #f5f5f5;
}
.icon-btn {
  position: relative;
  background: none;
  border: none;
  color: rgba(139, 26, 26);
  cursor: pointer;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  height: 40px;

  &:hover {
    color: #dc2626;
  }
}

.login-btn {
  position: relative;
  border-left: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 40px;

  &:hover {
    color: #dc2626;
  }
}
