.wrapper {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100vw;
  left: 0;
  padding: 0 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icons {
  position: absolute;
  right: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  text-decoration: none;

  cursor: pointer;
}
.logo {
  font-family: 'Akira';
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.logo-w {
  font-size: 30px;
  font-weight: bold;
  color: #dc2626;
}

.logo-s {
  font-size: 24px;
  font-weight: bold;
  color: #374151;
}

.icon-btn {
  position: relative;
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px;

  // Border right ngắn
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px; // Độ dài border
    width: 0;
    border-right: 2px solid #6b7280;
  }

  &:hover {
    color: #dc2626;
  }
}

.login-btn {
  position: relative;
  border-left: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 16px;

  // Border left ngắn
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px; // Độ dài border
    width: 0;
    border-left: 2px solid #6b7280;
  }

  &:hover {
    color: #dc2626;
  }
}

.cart-btn {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: 2px;
  right: 3px;
  background-color: #dc2626;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
