.wrapper {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100vw;
  left: 0;
  display: flex;
  align-items: flex-start;
  // border-bottom: 1px solid #6b7280;
  &.home-layout {
    border-top: 1px solid var(--text-light);
    border-bottom: none;
    .nav-menu {
      padding: 0 56px;

      background-color: var(--white);
    }
    .nav-link {
      color: var(--text-color);
      &:hover {
        background-color: #d1cfcf;
      }
    }
    .categories {
      background-color: var(--white);
    }
  }
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-menu {
  padding: 0 110px;
  background-color: #303030;
  display: flex;
  align-items: center;
}
.nav-link {
  color: #eeeeee;
  text-decoration: none;
  padding: 8px 12px 8px 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover,
  &:global(.active) {
    color: #dc2626;
  }
}

.categories {
  padding: 8px 155px 8px 0;
}
